<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
   </head>
   <body>
     
      <div class="container my-5">
         <div class="row my-md-3">
            <div class="col-sm-6 offset-sm-3">
         <h3>Reset Password</h3>
         <hr>
         <form action="" method="post" novalidate class="shadow p-5">
            {% csrf_token %}
            {% for fm in form %}
           <div class="form-group">
              {{fm.label_tag}} {{fm}}</small class="text-danger">{{fm.errors | striptags}}</small>
           </div>
           {% endfor %}
          
           <input type="submit" class="btn btn-primary mt-4" value='Submit'>
           <br>
           
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
            {% endif %}
        
         </form>
          </div>
         </div>
         </div>
      
      <script src="" async defer></script>
   </body>
</html>

 
