<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    
</head>
<body>
        <div class="container my-5">
            <div class="row">
             <div class="col-sm-3">
              <div class="list-group">
              <a class="list-group-item" href="{% url 'product' %}" class='list-group-item list-group-item-action' aria-current='true'>All product</a>
             <a href="{% url 'productdata' 'laptops' %}" class="list-group-item list-group-item-action" aria-current='true'>Redmi</a>
             <a href="{% url 'productdata' 'mobiles' %}" class="list-group-item list-group-item-action" aria-current='true'>Samsung</a>
             <a href="{% url 'productdata' 'processors' %}" class="list-group-item list-group-item-action" aria-current='true'>Below 250</a>
             <a href="{% url 'productdata' 'above' %}" class="list-group-item list-group-item-action" aria-current='true'>Above 250</a>
             <a href="{% url 'productdata' 'below' %}" class="list-group-item list-group-item-action" aria-current='true'>Redmi</a>
             </div>
       
             </div>
             <div class="col-sm-8">
             <div class="row">
             {% for product in products %}
             <div class="col-sm-4 text-center mb-4">
               {% comment %} <a href="{% url 'product-detail' product.id %}" class="btn"> {% endcomment %}
                   <div class="item">
                       <img src="{{product.product_image.url}}" height='300'>
                       <div class="fw-bold">{{product.title}}</div>
                       <div class="fw-bold">Rs. {{product.price}}</div>
                       
          
                   </div>
                   </a>
                   
              </div>
              {% endfor %}

              <div>
                 <span>
                    {% if products.has_previous %}
                    <a href="?page={{products.previous_page_number}}" class="btn btn-primary">Previous</a>
                  {% endif %}

                  <span> {{products.number}}</span>
                  {% if products.has_next %}
                  <a href="?page={{products.next_page_number}}" class="btn btn-primary">Next</a>
                {% endif %}
                
                </span>
                </div>
                    </div>
              </div>
           </div>
       </div>
</body>
</html>
