{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/images/favicon.png' %}" rel="icon" type="image/png">
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style type="text/css">
        a {
           text-decoration:none;
        }
     </style>
</head>

<body>


    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">HardwareWebsite</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item mt-1">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item mt-1">
                <a class="nav-link" href="{% url 'product' %}">Product</a>
              </li>
              <li class="nav-item mt-1">
                 <a class="nav-link " href="{% url 'contactus' %}">About</a> 
              </li> 
              <li class="nav-item mt-1">
                <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
              </li>
            
            <form class="d-flex mx-9" role="search" style="margin-left : 280px; padding-top:5px;" action='/search' method='get'>
                {% csrf_token %}
                <input class="form-control me-2" type="search" name='title' id='title' placeholder="Search for Products.." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
  
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
            
            {%if request.user.is_authenticated%}
  
            <li class="nav-item dropdown" style="padding-right:3px; padding-left : 10px;">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img width="30px" height="30px" src="{{user_profile.profileimg.url}}" style="position:relative;top:0px; border-radius:30px; border : 1px solid white; ">
                  {{request.user | capfirst}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                  <a class="dropdown-item" href="{% url 'orders' %}">Orders</a>
        
                  <a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
          </li>
  
  
            <li class="nav-item">
              <a class="nav-link" href="{% url 'showcart' %}" style="font-size:17px;"><span class="badge bg-danger" >{{total_items}}</span>Cart</a>
            </li>
          
         {% else%}
         <li class="nav-item" style="padding-right:10px; padding-left : 10px; padding-top:5px;">
                  <button class="btn btn-danger"  ><a  href='{% url 'signin' %}' style="color : white">Login</a></button>
         </li>
         <li class="nav-item" style="padding-top:5px;">
                  <button class="btn btn-danger" > <a  href='{% url 'signup' %}' style="color : white">SignUp</a></button> 
         </li>
        
                {% endif %}
            </ul>
              </div> 
          </div>
      </nav>

      <div class="col-sm-2 border-end" style="margin-top:100px; margin-left:30px;">
        <ul class="list-unstyled">
         <li class="d-grid mb-3"><a href="{% url 'index' %}" class="btn btn-primary">Home Page</a></li>
         <li class="d-grid mb-3"><a href="{% url 'profile' %}" class="btn btn-dark">Profile</a></li>
         <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-primary">Address</a></li>
       
        </ul>
       </div>   
      
      <div class="card"  style="width :800px; margin-left : 260px; margin-top :-250px; padding-bottom : -50px; ">
   <h5 class="card-header bg-grey" style="color:blue">
    {{request.user | capfirst}}'s Profile
   </h5>

        <div class="card-body pb-0" style="height:455px;">
           
    
                        <form action='' method='POST' enctype='multipart/form-data' >
                      {% csrf_token %}
                       <div class="form-group">
 
                       <div class="grid grid-cols-2 gap-3 lg:p-2 p-4">
                        
                    
                        <div class='col-span-2'>
                            <label for="">Profile Image</label>
                            <div class = 'card border-black' style="width:500px; border-style: 1px solid;
                            border-color: black;">
                                <div class="card-body" >
                            <img width="110" height='100' src='/media/{{user_profile.profileimg}}' />
                            <input type="file" name='image' value='' placeholder="" class="shadow-none bg-gray-100" style="margin-left:20px;">
                        </div>
                    </div>
                     </div>
                        <div style="margin-top:10px">
                               <label for=""> First name :</label>
                               <input type="text" placeholder="Your name.." name='firstname' value='{{user_profile.first_name}}' class="shadow-none bg-gray-100" style="margin-right:30px;">
                           
                               <label for=""> Last name : </label>
                               <input type="text" placeholder="Your name.." name='lastname' value='{{user_profile.last_name}}' class="shadow-none bg-gray-100">
                            </div>
                            {% comment %} <div class="col-span-2">
                                <label for=""> Email</label>
                                <input type="text" placeholder="Your name.." class="shadow-none bg-gray-100" value='{{user_profile1.email}}'>
                            </div> {% endcomment %}
                            {% comment %} <div class="col-span-2">
                                <label for="about">Bio</label>  
                                <textarea id="about" name="bio" rows="3"  class="shadow-none bg-gray-100">{{user_profile.bio}}</textarea>
                            </div>  {% endcomment %}
                            {% comment %} <div class="col-span-2">
                                <label for="">Birth Date</label>
                                 {% comment %} <input type="text" name='birthdate' placeholder="" value='{{user_profile.birth_date | date:"Y-m-d"}}' class="shadow-none bg-gray-100">  {% endcomment %}
                                {% comment %} <input type="date" name='birthdate' placeholder="" value='{{user_profile.birth_date|date:"Y-m-d"}}' class="shadow-none bg-gray-100">
                            </div>  {% endcomment %}
                            <div class="col-span-2 mt-2">
                                <label for=""> Address : </label>
                                <input type="text" name='address' placeholder="" value='{{user_profile.address}}' class="shadow-none bg-gray-100" style="margin-right:45px;"> 
                            {% comment %} </div>
                            <div class="col-span-2"> {% endcomment %}
                                <label for=""> Locality : </label>
                                <input type="text" name='locality' placeholder="" value='{{user_profile.locality}}' class="shadow-none bg-gray-100" >
                            </div>
                            <div class="col-span-2 mt-2">
                                <label for=""> City :</label>
                                <input type="text" name='city' placeholder="" value='{{user_profile.city}}' class="shadow-none bg-gray-100" style="margin-right:80px;">
                            {% comment %} </div>
                            <div class="col-span-2"> {% endcomment %}
                                <label for=""> State : </label>
                                <input type="text" name='city' placeholder="" value='{{user_profile.city}}' class="shadow-none bg-gray-100">
                            </div>
                            {% comment %} <div class="col-span-2">
                                <label for=""> State </label>
                                <input type="text" name='state' placeholder="" value='{{user_profile.state}}' class="shadow-none bg-gray-100">
                            </div> {% endcomment %}

                            <div class="col-span-2 mt-2">
                                <label for="">Birth Date :</label>
                                 {% comment %} <input type="text" name='birthdate' placeholder="" value='{{user_profile.birth_date | date:"Y-m-d"}}' class="shadow-none bg-gray-100">  {% endcomment %}
                                <input type="date" name='birthdate' placeholder="" value='{{user_profile.birth_date|date:"Y-m-d"}}' class="shadow-none bg-gray-100" style="margin-right :80px;">
                            
                                <label for=""> Mobile Number :</label>
                                <input type="number" placeholder="" name='mobileno' class="shadow-none bg-gray-100" value='{{user_profile.mobile_no}}'>
                             </div> 
                            <div class="col-span-2 mt-2">
                                <label for=""> Pincode : </label>
                                <input type="number" name='pincode' placeholder="" value='{{user_profile.pincode}}' class="shadow-none bg-gray-100">
                            </div>
                            {% comment %} <div>
                               <label for=""> Mobile Number</label>
                               <input type="number" placeholder="" name='mobileno' class="shadow-none bg-gray-100" value='{{user_profile.mobile_no}}'>
                            </div>  {% endcomment %}
                           
                            </div> 
    
                            <div class="bg-gray-10 pb-0 pt-0 flex justify-end space-x-3">
                                
                                <button type="submit" class="btn btn-primary " style="margin-left:350px; margin-top:-70px;"> Save </button>
                            </div>
                        </div>
                          </form>
                        </div>
                    </div>
           

                    
                  
    
                    
                    <br>

    


    

 <!-- Scripts
    ================================================== -->
    <script src="{% static 'js/myscript.js' %}"></script>
    <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
         integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
         crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
         integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
         crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
         integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
         crossorigin="anonymous"></script>


    <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>

</html>